body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* text-align: center; */
}



nav > a{ padding-right: 10px;
         padding-left: 10px;
         background-color:darkkhaki;
}


 #featured-property{text-align:center} 

 #featured-property figcaption{
                     
                     width:800px;  
                     font-size: 10px;
                    text-align: center;
                    margin-left: 200px;
                    margin-right: auto;
                    margin-bottom: auto;
                  
                  
                } 





                #featured-property p{
                    
                     
                     margin-left: 30%;
                    margin-right: 10%;
                    padding-right:5%;
                    padding-left: auto;
                      
                      text-align: center;
                      width: 600px;
            /* border: 2px solid black; */

             }


#details {
            width:100%;
            height:4cm;
         background-color:orangered;
        
          }






  #details h3{ 
    display:table;
            margin: 0 auto;
         
    float:left;
    /*align-items:stretch;
    width:100% */
           }



           #details p{
            min-width: 696px;
            list-style: none;
            padding-top: 20px;
           
            }    
            
            
             #details  a {
              display: inline;
            } 
